<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title><h3>Ingreso Control</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-input labelPlacement="floating" value="">
        <div slot="label">xxxxxxxxxxxxxxxxx</div>
      </ion-input>
    </ion-item>
    <ion-item >
      <ion-input labelPlacement="floating" value="">
        <div slot="label">xxxxxxxxxxxxxxxxx</div>
      </ion-input>
    </ion-item>
    <ion-item >
      <ion-input labelPlacement="floating" value="">
        <div slot="label">xxxxxxxxxxxxxxxxx</div>
      </ion-input>
    </ion-item>
    <ion-item >
      <ion-input labelPlacement="floating" value="">
        <div slot="label">xxxxxxxxxxxxxxxxx</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="takePhoto()">
        tomar foto
      </ion-button>      
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="location()">
        Ubicación actual
      </ion-button>
    </ion-item>
    <br>
    <ion-button expand="full" [routerLink]="['/menu']" color="success">Grabar</ion-button>
    <ion-button expand="full" [routerLink]="['/menu']" color="primary">Volver</ion-button>
  </ion-list>
</ion-content>
