<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <br>
  <h3>Menu</h3>
  <br>
  <ion-list>
    <ion-item >
      <ion-button shape="round"  [routerLink]="['/listacontroles']">
        Controles Pediatria
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-button shape="round"  [routerLink]="['/receta']">
        Registro Medicamentos
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-button shape="round"  [routerLink]="['/agendar']">
        Agendar Control
      </ion-button>
    </ion-item>
    <ion-item >
      <ion-button shape="round"  [routerLink]="['/noticia']">
        Noticias
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button shape="round"  [routerLink]="['/menu']">
        Recordatorios
      </ion-button>
    </ion-item>
  </ion-list>  
</ion-content>
